<div class="containter">
    <div class="row">
            <div class="col-lg-6 p-5">
        <div class="card p-5"  style="background-color: #1a1b20;color:grey;text-align: center;">

                <div class="contact-heading">
                    <h5>Lets Work Togethere</h5>
                </div>
                <div class="contact-heading">
                    <h6>Whether you have a project in mind, want to discuss potential collaborations, or simply have a question,
                         I'd love to hear from you. Feel free to reach out using any of the methods below:</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-5">
            <div class="card  p-5 m-4"  style="background-color: #1a1b20;color:grey">
    
                    <div class="contact-heading pb-3">
                        <h5>EMAIL</h5>
                    </div>
                    <div class="contact-heading">
                        <h6>ajayvettiyil&#64;gmail.com</h6>
                    </div>
                </div>
                <div class="card p-5 m-4"  style="background-color: #1a1b20;color:grey">
    
                    <div class="contact-heading pb-3">
                        <h5>PHONE</h5>
                    </div>
                    <div class="contact-heading">
                        <h6>+91-8075169623</h6>
                        <h6>+91-8714210423</h6>
                    </div>
                </div>
               
            </div>
         
    </div>
</div>