<div class="containter">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 p-5">
            <div class="card p-5" style="background-color: #1a1b20;color:#c4c2c2;text-align: center;">

                <div class="contact-heading">
                    <h5>Lets Work Togethere</h5>
                </div>
                <div class="contact-heading">
                    <h6>Whether you have a project in mind, want to discuss potential collaborations, or simply have a
                        question,
                        I'd love to hear from you. Feel free to reach out using any of the methods below:</h6>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-4">
                        <a target="_blank" href="mailto:ajayvettiyil@gmail.com">ajayvettiyil&#64;gmail.com</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="tel:+918075169623">+91-8075169623</a>
                    </div>
                    <div class="col-lg-4">
                        <a href="tel:+918714210423">+91-8714210423</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>