.global-color {
    color: whitesmoke !important;
}

nav {
    background-color: #9497e2 !important;


}

.nav-link {
    color: white;

}

.nav-link:hover {
    color: green;

}

.logo-card1 {
    text-align: right;
}

.logo-card2 {
    text-align: left;
}