<div class="card mt-5" style="background-color: #393939;">
    <div class="row">
        <div class="col-12 col-lg-6 p-4">
            <div class="p-3" style="color: whitesmoke;">
                <h4>Hello, I'm <span style="color: #05f587; ">Ajay Krishnan</span></h4>
            </div>
            <div class="p-3" style="color: #c4c2c2; ">
                <h6 style="line-height: 2.2;">Hello and welcome! I'm Ajay Krishnan, a passionate full-stack developer
                    dedicated to crafting innovative digital solutions that blend creativity with functionality. With
                    4.8 years of experience in the industry, I've honed my skills in both front-end and back-end
                    development, allowing me to create seamless user experiences and robust, scalable applications.

                    In my journey as a developer, I've had the opportunity to work on a diverse range of projects, from
                    dynamic web applications to mobile apps and everything in between. My expertise lies in leveraging
                    cutting-edge technologies and frameworks to bring ideas to life and solve complex challenges
                    effectively.</h6>
            </div>
            <div class="p-3">
                <button class="btn btn-success btn-outline">Lets Talk</button>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-2 col-12" style="text-align: right; filter: blur(1.8px);">
            <div class="profile-img"></div>
        </div>
    </div>
</div>

<div class="row pt-5">
    <div class="col-lg-6 offset-lg-3 text-center fs-4">
        <a style="color: whitesmoke;" href="http://www.instagram.com/ajay3331" id="insta"> <i
                class="fa-brands fa-instagram social-icons"></i></a>
        <a style="color: whitesmoke;" href="https://www.linkedin.com/in/ajay-krishnan-6365171a6/" id="linkedin"> <i
                class="fa-brands fa-linkedin social-icons"></i></a>
        <a style="color: whitesmoke; " href="https://github.com/ajayTabuKrishnan1992" id="github"><i
                class="fa-brands fa-github social-icons"></i></a>
    </div>
    
    <div class="row pt-5">
        <div class="col-lg-12" style="color: #05f587;">
            <h5>
                Outline to my areas of expertise
            </h5>
        </div>
        <div class="col-lg-12 mt-4">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card p-3 skill-card" style="text-align: center;background-color: #1a1b20;">
                        <div class="p-4 fs-1" style="color: white;">
                            <!-- <i class="fa-solid fa-volleyball"></i> -->
                            <img src="../../../assets/images/icons8-web-48.png" alt="">

                        </div>
                        <div class="p-3" style="color: #05f587;">
                            <h5>FrontEnd Development </h5>
                        </div>
                        <div style="color: #c4c2c2; padding: 4%;">
                            <h6>
                                dedicated front-end developer with a passion for crafting captivating user experiences
                                using cutting-edge technologies like Angular and React. With 4 of experience in the
                                field, I specialize in building dynamic, responsive web applications that engage users
                                and drive business growth.
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card p-3 skill-card" style="text-align: center;background-color: #1a1b20;">
                        <div class="p-4 fs-1" style="color: white;">
                            <!-- <i class="fa-solid fa-volleyball"></i>
                             -->
                            <img src="../../../assets/images/icons8-laptop-coding-48.png" alt="">

                        </div>
                        <div class="p-3" style="color: #05f587;">
                            <h5>Backend Development </h5>
                        </div>
                        <div style="color: #c4c2c2; padding: 4%;">
                            <h6>
                                a versatile backend developer specializing in building scalable and robust server-side
                                solutions using a variety of technologies, including Node.js, Java, Python, and NestJS.
                                With 4 of experience in the field, I'm passionate about architecting efficient backend
                                systems that power innovative applications and drive business success.
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card p-3 skill-card" style="text-align: center;background-color: #1a1b20;">
                        <div class="p-4 fs-1" style="color: white;">
                            <!-- <i class="fa-solid fa-volleyball"></i> -->
                            <img src="../../../assets/images/icons8-database-64.png" alt="">

                        </div>
                        <div class="p-3" style="color: #05f587;">
                            <h5>Database Management </h5>
                        </div>
                        <div style="color: #c4c2c2;padding: 4%;">
                            <h6>
                                Whether it's relational databases like MySQL, PostgreSQL, or SQL Server, or NoSQL
                                solutions such as MongoDB or Redis, I have a comprehensive understanding of various
                                database technologies and can recommend the best fit for each scenario.
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card p-3 skill-card" style="text-align: center;background-color: #1a1b20;">
                        <div class="p-4 fs-1" style="color: white;">
                            <!-- <i class="fa-solid fa-volleyball"></i> -->
                            <img src="../../../assets/images/icons8-deployment-64.png" alt="">

                        </div>
                        <div class="p-3" style="color: #05f587;">
                            <h5>Deployment </h5>
                        </div>
                        <div style="color: #c4c2c2;padding: 4%;">
                            <h6>
                                Throughout my career, I've had the privilege of helping numerous organizations leverage
                                the flexibility and power of Amazon EC2 to deploy a wide range of applications, from web
                                servers and APIs to microservices and machine learning models.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>