<div class="container">
    <h4 style="color:whitesmoke;">My Development Road Map</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline3">
                <div class="timeline p-5" style="text-align: center;">
                    <a href="#" class="timeline-content">
                        <span class="year">Nov 4,2022 - Current </span>
                        <h3 class="title custom-tile">Systems Engineer</h3>
                        <h3 class="title">(TATA CONSULTANCY SERVICES) </h3>

                        <h6>Projects:</h6>
                        <p class="description">
                            1. Epituca Application for Johnson & Johnsons
                        </p>

                    </a>
                </div>
                <div class="timeline  p-5" style="text-align: center;">
                    <a href="#" class="timeline-content">
                        <span class="year">April 26,2021 – 31 Oct,2022</span>
                        <h3 class="title custom-tile">Fullstack Developer</h3>

                        <h3 class="title">(Citrus Informatics)</h3>
                        <h6>Projects:</h6>
                        <p class="description">
                            1. Armatus Portal Application
                        </p>
                        <p class="description">
                            2. Armatus Entity DB sales Application
                        </p>
                    </a>
                </div>
                <div class="timeline  p-5" style="text-align: center;">
                    <a href="#" class="timeline-content">
                        <span class="year">June 17,2019 – March 31,2020</span>
                        <h3 class="title custom-tile">UI and Backend Developerr</h3>

                        <h3 class="title">(Mashtrix Systems)</h3>
                        <h6>Projects:</h6>
                        <p class="description">
                            1. SASCO Survey App
                        </p>
                        <p class="description">
                            2. Al-Madina Hypermarket Web Application
                        </p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>