<div class="container">
    <div class="row">
        <div class="offset-lg-3 col-lg-9 pt-5 mb-4">
            <div class="row" style="text-align: right;">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-outline-success" style="color: #05f587;margin-right: 3%;"
                        (click)="viewFile()">View Resume</button>

                    <button type="button" class="btn btn-outline-success " style="color: #05f587;"
                        (click)="downloadFile()">Download</button>


                </div>
            </div>

        </div>
    </div>
    <div class="card p-4 mb-4" style="background-color: #1a1b20;color:#c4c2c2">
        <div class="row p-5">
            <!-- <div class="col-lg-3">
                <h5>Work Experience</h5>
            </div> -->
            <div class="col-lg-12">
                <div class="row">
                    <div class="section-title">
                        <h3 class="">Work Experience</h3>
                    </div>
                </div>
                <div class="row mt-3 pt-4" style="border-top: 1px solid #c4c2c2;">
                    <div class="col-lg-6">
                        <h4>Nov 4,2022 - Current</h4>
                    </div>
                    <div class="col-lg-6">
                        <h3>Systems Engineer</h3>

                        <h3 class="title">(TATA CONSULTANCY SERVICES) </h3>
                        <h6><strong><u>Projects</u> </strong>
                        </h6>
                        <h6>
                            1. Epituca Application for Johnson & Johnsons</h6>
                        <h6><strong><u>Roles and Responsibilities </u> </strong>
                        </h6>
                        <h6>
                            - Working as a full-stack developer for Johnson an Johsons projects in US subcontinent
                            - Develop applications for the J&J in technologies like Node JS in server side and
                            HTML5,
                            CSS3, Angular 2+ and React in client side
                            - Develop and design the architecture of a Node JS based scheduler jobs to interact with
                            other services and visual aids in the front end side for business interaction process
                            - Design and maintain the Hadoop Database, Solr and HDFS of the application.
                            - Design and develop the backend module and APIs using Node JS
                            - Develop and deploy applications in AWS EC2 server instances </h6>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <h4>April 26,2021 – 31 Oct,2022</h4>

                    </div>
                    <div class="col-lg-6">
                        <h3>Fullstack Developer</h3>
                        <h3 class="title">(CITRUS INFORMATICS) </h3>
                        <h6><strong><u>Projects

                                </u> </strong>
                        </h6>


                        <h6>
                            1. Armatus Portal Application</h6>
                        <h6><strong><u>Roles and Responsibilities </u> </strong>
                        </h6>
                        <h6>
                            - Worked as a full-stack developer for leading insurance company US subcontinent
                            - Develop applications for the insurance firm in technologies like Node JS in server
                            side and HTML5, CSS3, Angular 1.x in client side
                            - Develop and design the architecture of a Node JS based scheduler jobs to interact with
                            other services and visual aids in the front-end side for business interaction process
                            - Design and maintain the PostgreSQL Database of the application
                            - Design and develop the backend module and APIs using Node JS
                        </h6>

                        <h6>
                            1. Armatus Entity DB sales Application</h6>
                        <h6><strong><u>Roles and Responsibilities </u> </strong>
                        </h6>
                        <h6>
                            - Worked as a full-stack developer with a leading insurance company in us.
                            - Develop sales applications for the insurance firm in technologies like Node JS in
                            server side and HTML5, CSS3, Angular 1.x in client side and using PostgreSQL as database
                            technology
                            - Develop and design the architecture of a Node JS based jobs to interact with other
                            services
                            - Design and maintain the PostgreSQL Database of the application
                            - Design and develop the backend module and APIs using Node JS

                        </h6>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <h4>June 17,2019 – March 31,2020</h4>
                    </div>
                    <div class="col-lg-6">
                        <h3>Software Developer</h3>
                        <h3 class="title">(MASHTRIX SYSTEMS) </h3>
                        <h6><strong><u>Projects

                                </u> </strong>
                        </h6>


                        <h6>
                            1. 1. SASCO Survey App</h6>
                        <h6><strong><u>Roles and Responsibilities </u> </strong>
                        </h6>
                        <h6>
                            - Worked as a full-stack developer with a leading Petro-chemical client
                            - Develop applications for the insurance firm in technologies like Nest JS in server
                            side
                            and HTML5, CSS3, Angular 1.x in client side
                            - Develop and design the architecture of a Nest JS based scheduler jobs to interact with
                            other services
                            - Design and maintain the Mongo Database of the application
                            - Design and develop the backend module and APIs using Nest JS.
                        </h6>

                        <h6>
                            2. Al-Madina Hypermarket Web Application</h6>
                        <h6><strong><u>Roles and Responsibilities </u> </strong>
                        </h6>
                        <h6>
                            - Worked with Hypermarket web application
                            - Worked with Nodejs and angular for the development of the application
                            - Development and support of the application
                            - Developing new applications which ease the transactions in the organization
                            - Worked with agile development methodology with daily SCRUM calls and status
                            updates
                            - Worked with application servers and Nginx
                            - Development of application and continuous build using Jenkins build tool
                            - Training fresh science graduates in latest web-technologies
                            - Built, tested and deployed scalable, highly available and modular software products.
                            - Develop and maintain the new and existing applications as per the requirement
                            - Strengthened developmental methodologies by introducing a code quality document.
                            - Problem solving by applying existing Algorithms and designing new algorithms when
                            needed

                        </h6>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <div class="card p-4 mb-4" style="background-color: #1a1b20;color:#c4c2c2">
        <div class="row p-5">
            <div class="col-lg-12">
                <div class="row">
                    <div class="section-title">
                        <h3 class="">Educational Qualifications</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row mt-3 pt-4" style="border-top: 1px solid #c4c2c2;">
                    <div class="col-lg-6">
                        <h4>2015-2018</h4>
                    </div>
                    <div class="col-lg-6">
                        <h5>MAHATMA GANDHI UNIVERSITY</h5>
                        <h4><strong><u>Master of Computer Application
                                </u> </strong>
                        </h4>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <h4>2012-2015</h4>

                    </div>
                    <div class="col-lg-6">
                        <h5>MAHATMA GANDHI UNIVERSITY</h5>
                        <h4><strong><u>Bachelor of Computer Application
                                </u> </strong>
                        </h4>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <h4>2009-2011</h4>

                    </div>
                    <div class="col-lg-6">
                        <h5>SACRED HEART PUBLIC SCHOOL, KOTTAYAM</h5>
                        <h4><strong><u>Standard XII
                                </u> </strong>
                        </h4>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <h4>2008-2009</h4>
                    </div>
                    <div class="col-lg-6">
                        <h5>EDEN PUBLIC SCHOOL, KOTTAYAM</h5>
                        <h4><strong><u>Standard X
                                </u> </strong>
                        </h4>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <h4>2015-2018</h4>
                    </div>
                    <div class="col-lg-6">
                        <h5>MAHATMA GANDHI UNIVERSITY</h5>
                        <h4><strong><u>Master of Computer Application
                                </u> </strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>